.login{  
        width: 400px;  
        overflow: hidden;  
        margin: auto;  
        margin: 50 0 0 450px;
        margin-top: 5% !important;  
        padding: 100px;  
        background: rgba(58, 98, 116, 0.5);  
        border-radius: 15px ;  
          
}  

label{  
    color: #0e0401;  /*user,pass colour*/
    font-size: 20px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 9px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(16, 197, 16);  /*button*/
  
  
}  
span{  
    color: rgb(23, 22, 24);   /*terms & cond*/
    font-size: 17px;  
}  
a{  
    float: center;  
    background-color: rgba(241, 241, 241, 0.507);  /*sign up box*/
}  