<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>

        .alert-error {
            padding: 0px;
            background-color: red;
            color: white;
        }

        .alert-success {
            padding: 0px;
            background-color: green;
            color: white;
        }

        body
        {
            background-image:url({{url_for('static',filename='img/2.jpg')}});
        }

    </style>  
    
</head>

<body>

    {% block body %}{% endblock %}

</body>

</html>